body {
    margin: 0;
    padding: 0;
    background-color: #f0f9f9;
}

::selection {
    background: #33bc9c;
}

.hide {
    visibility: hidden;
}

.show {
    transition-duration: 0.1s;
    visibility: visible;
}

.hover {
    transition-duration: 0.2s;
    color: white;
}

.dehover {
    transition-duration: 0.2s;
    color: #a3e2ca;
}

.titlebar {
    height: 200px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
    margin: 0;
    padding: 40px 40px 0 40px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.title {
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
}

.highmenu-holder {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    text-align: center;
}

.highmenu-menu {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px 0 10px;
    display: inline-block;
    transition-duration: 0.2s;
    color: #a3e2ca;
}

.highmenu-menu:hover {
    transition-duration: 0.2s;
    color: white;
}

.content {
    text-align: center;
}

.content-holder {
    display: inline-block;
    width: 100%;
    max-width: 1400px;
    text-align: center;
}

.content-menu-holder {
    text-align: center;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.content-menu-menu {
    width: 50px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    transition-duration: 0.2s;
    color: #999999;
}

.content-menu-menu:hover {
    transition-duration: 0.2s;
    color: #111111;
}

.content-title {
    width: 60%;
    display: block;
    height: 100px;
    padding: 30px 140px 30px 140px;
    text-align: left;
    font-size: 30px;
    color: black;
    font-weight: bold;
    line-height: 100px;
}

.content-content {
    padding: 0 100px 30px 100px;
}

.content-table-holder {

}

.content-table-element {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    border: solid black 0;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 #aaaaaa;
    background-color: white;
    margin: 10px;
}

.content-table-element:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.05);
}

.element-title {
    height: 40px;
    padding: 30px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
}

.element-available {
    height: 30px;
    padding: 5px;
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

.element-time {
    height: 20px;
    padding: 5px;
    margin: 0;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
}